body
{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: AliceBlue;
}

section
{
	margin-left: 1%;
}

header
{
    width: 100%;
    height: 25%;
    background-image: url("banniere.jpg");
    margin-bottom: 2.5%;
	border: none;
}

#tableLiensP
{
    position: relative;
    top: 90%;
	height: 20%;
    padding-left: 6.5%;
    width: 100%;
}

.liensP
{
    background-color: LightBlue;
    text-align: center;
    border: medium solid DarkRed;
    width: 12.5%;
    font-size: xx-large;
}

.liensP a:visited, .liensP a:link, .liensP a:hover
{
    text-decoration: none;
    font-style: normal;
    color: black;
}

.descGN
{
    margin-top:5%;
    margin-left: 5%;
    width: 40%;
}

.messageErreur
{
	color: red;
}

#colInscription, #colConnexion
{
    width: 50%;
	vertical-align: top;
	padding: 0%;
}

#colInscription
{
    border-right: medium solid DarkGrey;
	text-align: right;
}

#tableInscription, #tableConnexion
{
    width: 30%;
}

#tableInscription
{
    text-align: right;
    margin-left: 65%;
}

#tableConnexion
{
    margin-left: 5%;
	top: 0px;
}

#colInscription input:not([type="checkbox"]), #colConnexion input:not([type="checkbox"])
{
	width: 100%;
}
 
.fullPage
{
    width: 100%;
	text-align: right;
}
